/*
Original Design (redplanet) by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 30px 0;
    padding: 0;
    background: #EFEFEF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #6B6B6B;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-weight: normal;
    color: #000000;
}

h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #F4F4F4;
    font-size: 20px;
}

h3 {
    margin-bottom: 12px;
    padding-bottom: 3px;
    font-size: 16px;
    border-bottom: 1px solid #F4F4F4;
}

h4 {
    font-size: 16px;
}

p, ol, ul, blockquote {
    line-height: 24px;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: #EC5600;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

#textfield1 {
    width: 185px;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    border-right-color: #F6F6F6;
    border-bottom-color: #F6F6F6;
}

#submit1 {
    border: 1px solid #EBEBEB;
    border-bottom-color: #DDDDDD;
    background: #FBFBFB url(../img/redplanet/img7.gif) repeat-x;
    text-transform: lowercase;
    font-size: 12px;
    color: #7A7A7A;
}

/* Posted */

.posted {
    height: 33px;
    margin: 0 0 30px 0;
    padding: 10px 15px 0 15px;
    background: url(../img/redplanet/img6.gif) repeat-x;
    border-bottom: 1px solid #F2F2F2;
}

.posted p {
    float: left;
    margin: 0;
}

.posted .comments {
    float: right;
}

.posted a {
    color: #717171;
}

/* Header */

#header {
    width: 917px;
    height: 100px;
    margin: 0 auto;
    background: url(../img/redplanet/img2.gif) repeat-x;
}

/* Logo */

#logo {
    float: left;
    height: 100px;
    padding: 0;
    background: url(../img/redplanet/img1.gif) no-repeat;
}

#logo * {
    text-decoration: none;
}

#logo h1 {
    float: left;
    padding: 35px 0 0 35px;
    font-size: 36px;
}

#logo h1 a {
    color: #000000;
}

#logo h1 span {
    font-weight: bold;
}

/* Menu */

#menu {
    float: right;
    height: 45px;
    padding: 45px 25px 0 0;
    background: url(../img/redplanet/img3.gif) no-repeat right top;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    padding: 0 15px 0 20px;
    border-left: 1px solid #DBDBDB;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 13px;
    color: #3B3B3B;
}

#menu .first a {
    border: none;
}

/* Content */

#content {
    width: 847px;
    margin: 0 auto;
    padding: 0 35px 35px;
    background: #FFFFFF url(../img/redplanet/img8.gif) no-repeat left bottom;
}

#colOne {
    float: left;
    width: 620px;
}

#colTwo {
    float: right;
    width: 185px;
    padding: 5px 0 0 0;
}

#colOne ul {
    list-style: disc inside;
}

/* Forms */
table.formtable th {
    text-align: left;
    padding-right: 1em;
}
button {
    margin-top: 1em;
    font-size: 14px;
}
.errorlist,
.error {
    color: red;
}
.success {
    color: green;
}

/* Lists */
table.datalist {
    border: 1px solid #6B6B6B;
}
table.datalist th {
    margin-bottom: .5em;
}
table.datalist th,
table.datalist td {
    padding: .3em;
}
table.datalist th {
    text-align: left;
}
table.datalist tr.even {
    background-color: #EFEFEF;
}
table.datalist tr.odd {
    background-color: #E0E0E0;
}

/* Footer */

#footer {
}

#footer p {
    text-align: center;
    color: #777777;
}

#footer a {
    color: #5D5D5D;
}

/*** individual pages ***/
#uptake-form {
    margin-bottom: 2em;
}
#uptake-form label {
    vertical-align: top;
    margin-right: 1em;
}
#uptake-form #id_p {
    height: 10em;
}

/* front page */
#front .gravatar {
    float: left;
}
#front h2 {
    margin-bottom: 1em;
}
#front #userinfo {
    margin-left: 100px;
    margin-bottom: 20px;
}
#front #userinfo p {
    line-height: 16px;
    margin: 10px 0;
}

