{% extends "base.html" %}

{% block content %}

<h2>{% block title %}Login{% endblock %}</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
<table class="formtable">
{{ form.as_table }}
</table>

<button type="submit">Log in</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><small><a href="{% url django.contrib.auth.views.password_reset %}">Forgotten your password?</small></p>
{% endblock %}
