#!/usr/bin/perl
# vim: ft=perl

# Some db credentials
$host = '';
$user = '';
$pass = '';
$db = '';

# email address to notify of mirror failures
$email = '';

%content_type = (
    dmg => 'application/x-apple-diskimage',
    xpi => 'application/x-xpinstall',
    jar => 'application/x-java-archive',
    mar => 'application/octet-stream',
    msi => 'application/octet-stream',
);

# number of children to fork at a time
$num_children = 64;

1;
