/*  nav  */
ul#nav li a {
    font-weight:bold;
}
ul#nav li ul li a {
    font-weight:normal;
}
.logout {
    color:#f00;
}

/*  forms  */
.label-small {
    display: inline;
    float: left;
    width: 8em;
    padding-right: 1ex;
    text-align:right;
}
.label-medium{
    display: inline;
    float: left;
    width: 14em;
    padding-right: 1ex;
    text-align:right;
}
.label-large{
    display: inline;
    float: left;
    width: 20em;
    padding-right: 1ex;
    text-align:right;
}
.button1 {
    background-color:#9c9;
    cursor:pointer;
}
.button1:hover {
    background-color:#fff;
    border:inset 2px #999;
}

/*  lists  */
.list {
    margin-top:.5em;
}
.list td {
    padding:.2em;
    text-align:left;
}
.list td label {
    border-bottom:1px dashed #999;
    font-weight:normal;
}
.list th {
    background:#eee;
    border:1px solid #000;
    font-weight:bold;
    padding:0;
}
.list th a {
    display:block;
    padding:.2em 1.2em .2em .2em;
    text-align:left;
}
.list th a:hover {
    background-color:#fff;
}
.row1 {
    background:#ddd;
}
.row2 {
    background:#ccc;
}
.row1:hover, .row2:hover {
    background-color:#fff;
}
.sort-desc {
    background:#ccf url(../img/up.gif) no-repeat right;
}
.sort-asc {
    background:#ccf url(../img/down.gif) no-repeat right;
}

