{% extends "base.html" %}

{% block content %}

<h2>{% block title %}Edit User Profile{% endblock %}</h2>

{% if success %}
    <p class="success">Your user profile was successfully saved.</p>
{% else %}
    {% if django_user_form.errors or user_profile_form.errors %}
    <p class="error">There are errors in this form. Please correct them and try again.</p>
    {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
<table class="formtable">
{{ django_user_form.as_table }}
{{ user_profile_form.as_table }}
</table>
<button type="submit">Save</button>
</form>

<p><small>
    <a href="{% url django.contrib.auth.views.password_change %}">Change your password</a>
    (unsaved changes will be lost)
</small></p>

{% endblock %}

