##### DB CREDENTIALS #####
$host = '';
$user = '';
$pass = '';
$db = $user;

##### HASH CHECKS #####
$hashcheck = 1; # hash check mirrored files?
$localdir = './repository'; # path to local copy of the mirror tree, for hash comparison
$chunksize = 20480; # chunk size to be hash checked, in Bytes

##### EMAIL #####
# email address to notify of mirror failures
$email = '';

##### DEBUGGING #####
$DEBUG = 1;
